PLAYWRIGHT_BASE_URL=http://127.0.0.1:3000
PLAYWRIGHT_HEADLESS=true
PLAYWRIGHT_TIMEOUT_MS=30000

QA_CLIENT_EMAIL=cliente@demo.mx
QA_CLIENT_PASSWORD=Demo1234!
QA_PROVIDER_EMAIL=frutas@elparaiso.mx
QA_PROVIDER_PASSWORD=Demo1234!
QA_ADMIN_EMAIL=admin@laborregamarket.mx
QA_ADMIN_PASSWORD=Demo1234!
